header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;

/*Fuentes para pagina*/
@font-face {
    font-family: Inter;
    src: url(/practica/practica-html-css-CandyDep/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-family: Inter1;
    src: url(/practica/practica-html-css-CandyDep/assets/fonts/static/Inter-ExtraBold.ttf);
}

/*Estilos del conenedor boton e imagen*/
/*Contenedor principal*/
.contenedor-principal {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.principal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section {
    padding-right: 20px;
    display: flex;
    width: 68%;
}

/*Aqui va la imagen para escritorio con content*/ /*GABRIEL*/
 imagen{
     conten:url(imagen{})    
/*Contenedor para organizar textos*/
.flex-container-2 {
    display: flex;
}

/*Estilo para el h1*/
.flex-container-2 h1 {
    font-family: Inter1;
    font-size: 50px;
    padding-right: 80px;
    width: 100%;
}

/*Estilos para los textos*/
.flex-container-2 p {
    font-family: Inter;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 40px;
    color: hsl(236, 13%, 42%);
}

/*Estilos para la seccion de New*/ /*ISMAEL*/

     .conteinerblack{

    background: #0b0b2b;
    width: 290px;
    border: 20%;
    margin-left: 40px;
}
.white{
 color: white;

cursor: pointer;

}
.pwhite{
    color: white;
    opacity: 50%;
    
    }
hr{

width: 90%;
}

.white:hover{
    color: goldenrod;
}


/*Estilos para el boton*/
button {
    width: 230px;
    height: 50px;
    background-color: hsl(5, 85%, 63%);
    font-family: Inter;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fffefe;
}

button:hover {
    background-color: hsl(240, 100%, 5%);
}
     
/*Estilos para el contenedor de imagenes DANIEL*/
.contenedor-imagenes{
    display: flex;
    flex-direction: row;
}
.contenedor-imagenes h2{
    font-family: Inter1;
    font-size: 40px;
    color: hsl(233, 8%, 79%);
    letter-spacing: 2px;
}
.contenedor-imagenes h3{
    font-family: Inter1;
    font-size: 20px;
    color: hsl(240, 100%, 5%);

}
.contenedor-imagenes p{
    font-family: Inter;
    font-size: 15px;
    color: hsl(236, 13%, 42%);
}
.count-txt_1{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.contenedor-imagenes img{
    width: 200px;
    height: 200px;
    align-content: center;
}
/*Estilos para la barra en escritorio */
.nav {

    --state-close: scale(0);
    --state-men: scale(0);
    display: flex;
    justify-content: space-between;
}

.link_menu {
    color: hsl(240, 100%, 5%);
    text-decoration: none;
    font-family: Inter;
}

.Titulo {
    color: hsl(240, 100%, 5%);
    font-size: 70px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 65px;
    text-decoration: none;
}

.menu {
    display: flex;
    margin: 20px;
    list-style: none;
}

.menu-puntos {
    font-size: 17px;
    margin: 0 20px;
    line-height: 30px;
    width: max-content;
}

.link_menu:hover {
    color: hsl(35, 77%, 62%);
}

.btn-menu {
    color: hsl(240, 100%, 5%);
    font-size: 40px;
    font-weight: bold;
    line-height: 30px;
    transform: var(--state-men);
    display: none;
}

.container-menu {
    display: none;
}

.cont-menu label {
    display: none;
}

#btn-menu {
    display: none;
}








/*AQUI EMPIEZA PARA MOVILES*/
/*Estilos a para moviles */
@media (max-width:768px) {
    /*Estilos para la barra para moviles */ /*GUADALUPE*/
    .nav {
        --state-men: scale(1);
    }

    .menu-puntos {
        display: none;
    }

    .btn-menu {
        display: block;
    }

    #btn-menu {
        display: none;
    }

    .container-menu {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        transition: all 500ms ease;
        opacity: 0;
        visibility: hidden;
        display: block;
    }

    #btn-menu:checked~.container-menu {
        opacity: 1;
        visibility: visible;
    }

    .cont-menu {
        width: 100%;
        max-width: 250px;
        background: #fffefe;
        height: 100vh;
        position: absolute;
        transition: all 100ms ease;
        transform: translateX(100%);
    }

    #btn-menu:checked~.container-menu .cont-menu {
        transform: translateX(65%);
    }

    .cont-menu nav {
        transform: translateY(50%);
    }

    .cont-menu nav a {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: hsl(240, 100%, 5%);
        border-left: 5px solid transparent;
        transition: all 400ms ease;
    }

    .cont-menu nav a:hover {
        color: hsl(35, 77%, 62%);

    }

    .cont-menu label {
        position: absolute;
        right: 40px;
        top: 10px;
        color: hsl(240, 100%, 5%);
        cursor: pointer;
        font-size: 18px;
        display: block;
    }

    /*Cambio de imagen */ /*GABRIEL*/
    .imagen {
        content: url(/practica/practica-html-css-CandyDep/assets/images/image-web-3-mobile.jpg);
    }

    /*Contenedor principal*/
    .contenedor-principal{
        display: flex;
        flex-direction: column;
    }
    section{
        width: 100%;
        padding-bottom: 40px;
    }

    /*Contenedor para organizar textos*/
    .flex-container-2 {
        flex-direction: column;
    }

    /*Estilos para los textos*/
    .flex-container-2 h1 {
        padding-right: 0px;
        margin-top: 0px;
    }
    .flex-container-2 p {
        padding-right: 0px;
        margin-top: 0px;
    }

    /*Estilos para la seccion de New*/ /*ISMAEL*/
   

    /*Estilos para el boton*/
    button {
        width: 170px;
    }
}
